@import 'variables.scss';
@import 'mixins.scss';

@import "themses/gentelella.scss";
@import '../../node_modules/react-select/dist/react-select.css';

/* @todo think about this (from index.html) */

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.glyphicon-none:before {
  content: "\2122";
  color: transparent !important;
}



/* ------------------------------ Custom Styles --------------------------- */

.container {
  padding:  1em;
}

.navbar {
  background-color: $panel-background-color;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #73879c;
}

ul.navbar-nav li a span {
  font-weight:  bold;
  font-size:    1.2em;
}

li.open a.dropdown-toggle {
  background-color:   #bdb7b7 !important;
}

.panel-body {
  background-color:   #94A5B4;
}

.event_table_header {
  @include table-header();
}

.active-date-container {
  color:          $main-header-font-color;
  font-size:      2em;
  text-align:     center;
  font-weight:    bold;
  height:         3.5em;

  div {
    height:       100%;
    div {
      height:     100%;
      padding-top:0.5em;
    }
  }
}

.new-event-row {
  //padding:  0 10px;
}

.event-manage-header {
  padding:          0 10px;
  text-decoration:  inherit;
}

.event-manage-buttons {

}

.event_list_container:hover {
  background-color:   $hover-row-background-color;
  color:              $hover-row-color;
  font-weight:        bold;
  padding-top:        0.5em;
}