@import "variables.scss";

@mixin table-header() {
  font-weight:      bold;
  color:            $table-header-font-color;
  text-decoration:  underline;
  font-size:        $table-header-font-size;
}
