$table-header-font-size:      1.2em;
$table-header-font-color:     #ACACAC;
$main-header-font-color:      $table-header-font-color;

$panel-background-color:      #94a5b4;

$hover-row-background-color:  #7D8282;
$hover-row-color:             #000;