body {
  background: #F7F7F7;
}

a {
  color: #5A738E;
  text-decoration: none;

  &:hover {
    color: #23527c;
  }
}

.navbar.top-bar {
  background-color: #EDEDED;
  border-radius: 0;
  border-bottom: 1px solid #D9DEE4;

  .navbar-header {
    background-color: #EDEDED;
  }

  li {
    cursor: pointer;

    a {
      span {
        font-weight: normal;
      }
    }

    & > a {
      span {
        font-size: 13px;
        & :hover {
          background: none;
        }
      }
    }

    &.active, &.open, &:hover {
      & > a {
        background-color: #D9DEE4 !important;
        span {
          font-size: 13px;
        }
      }
    }
  }

  .dropdown-menu {
    li {
      &:hover {
        > a {
          background-color: #f5f5f5 !important;
        }
      }

      &.divider {
        margin: 4px 0;
      }

      a {
        padding: 10px 20px;
      }
    }
  }

  .container {
    padding: 0 15px;
  }
}

.panel-default {
  margin-bottom: 10px;
  padding: 10px 17px;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  border-radius: 0;

  .panel-heading {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
    background: none;
    color: #73879C;
  }

  .panel-body {
    padding: 0 5px 6px;
    margin-top: 5px;
    background: none;
  }
}


.navbar-nav .open .dropdown-menu {
  background: #fff;
  margin-top: 0;
  border: 1px solid #D9DEE4;
  border-radius: 0;
}