@import "../../../styles/variables.scss";

.event-dropdown-background {
  background-color:   $main-header-font-color;
  padding:  0 !important;
  margin:   0 !important;
}

.event-dropdown-background >  div.page-body {
  margin:   0 !important;
  padding:  0 !important;
}

.event-dropdown-list-container {
  margin:   0;
  padding:  0;
}

.event-recipient-email-helper {
  background-color:   #eee;
  list-style-type:    none;
  margin:             0;
  padding:            0;
}

.event-recipient-email-helper:hover {
  background-color:   #557cff;
  color: #fffa22;
}